.card {
  margin: 2%;
  display: flex;
  flex-direction: column;
  height: 250px;
  width: 300px;
  background-color: white;
  border: 3px solid teal;
}

p {
  color: teal;
}

h1 {
  color: teal;
}

button {
  background-color: teal;
  color: white;
  height: 30px;
}